name: Python tests
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15-intel, macos-15, ubuntu-24.04, windows-latest]
        python-version: ["3.11", "3.12", "3.13", "3.14", "pypy3.10", "pypy3.11"]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6
    - name: Install uv with Python ${{ matrix.python-version }}
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        version: "latest"
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        uv sync --frozen
    - name: Fetch test files
      run: |
        test/fetch_examples.sh
    - name: Run tests on python ${{ matrix.python-version }}
      run: uv run pytest        
